.navbar {
  background-color: #ed6623;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

/* .navLinks{
    display: flex;
    padding: 40px;
} */

.link {
  color: #ffffff;
  padding: 60px;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  transition: color 0.3s;
}

.link:hover {
  text-decoration: underline;
}

.linkEntrar {
  background-color: #ed2323;
  border-radius: 6px;
  color: #ffffff;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 34px;
  transition: 0.3s ease;
}

.linkEntrar:hover {
  background-color: #dc1d1d;
}
